[Unit]
Description=Kmonad Virtualbox keyboard remap

[Service]
Environment=KBD_DEV=/dev/input/by-path/platform-i8042-serio-0-event-kbd
Restart=always
RestartSec=60
ExecStart=/home/ryan/rice/scripts/kmonad-wrapper.sh
Nice=-20

[Install]
WantedBy=default.target
